/*------
// Variables
-------*/
$primary : #f86653;
$main-color: $primary;

$common-black: #000000;
$common-white: #ffffff;
$text-dark: #404240;
$text-grey: #555555;
$text-light-grey: #888888;
$zIndexHeader: 90;
$zIndexHeaderDropdown: 100;
$zIndexToTop: 110;
$zIndexOverlay: 120;
$zIndexPanelHeading: 2;
$zIndexImageHoverBackdrop: 1;
$zIndexMobileHeader: 20;
$zIndexMobileBackdrop: 10;
